In [1]:
import pandas as pd
pd.__version__

'1.3.4'

In [2]:
import numpy as np
np.__version__

'1.20.3'

In [7]:
import pandas as pd
s1 = pd.Series([1,3,5])
print(s1)
from pandas import Series, DataFrame
s1 = Series([2,4,6])
print(s1)
m1 = pd.Series(["홍","김","박"])
m1

0    1
1    3
2    5
dtype: int64
0    2
1    4
2    6
dtype: int64

0    홍
1    김
2    박
dtype: object

In [8]:
m1.index

RangeIndex(start=0, stop=3, step=1)

In [21]:
m1 = pd.Series(["홍","김","박"], index = [90, 80, 70])
print(m1)
print(m1[90])
# print(m1[0])     # ************이건 에러남 **************

for i in m1.index:
    print(i, m1[i])

90    홍
80    김
70    박
dtype: object
홍
90 홍
80 김
70 박

In [25]:
# m1 = pd.Series(["홍","김","박"], index = list('abc'))
m1 = pd.Series(["홍","김","박"], )
m1.index = list('abc')
print(m1)
print(m1['a'])
print(m1[0])
print(m1.values)

a    홍
b    김
c    박
dtype: object
홍
홍
['홍' '김' '박']

In [27]:
m1.shape, m1.ndim

((3,), 1)

In [28]:
m1[['c','a']]

c    박
a    홍
dtype: object

In [29]:
m1[[True,False, True]]   # 참에 해당하는 것만 추출

a    홍
c    박
dtype: object

In [31]:
m1[m1 == "홍"]  # 참에 해당하는 것만 추출

a    홍
dtype: object

In [34]:
m1.isnull()
m1.notnull()
m1[m1.notna()]

a    홍
b    김
c    박
dtype: object

In [37]:
s1.isna().sum()

0

In [43]:
s2 = pd.Series(
    np.arange(1, 11),
    index = list("abcdefghij")
)
print(s2[3:7])
print(s2['d':'g'])        # 숫자는 뒤에가 미포함이지만, 문자는 뒤에가 포함된다.

d    4
e    5
f    6
g    7
dtype: int32
d    4
e    5
f    6
g    7
dtype: int32